.contact {
    width: 60vw;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contact > img:first-of-type {
    height: 30vw;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact .item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact .item > img {
    height: 32px;
}

.contact .list {
    display: flex;
    flex-direction: column;
}
