/* GENERAL */
:root {
    --width-section: 60vw;
    --gap-section: 50px;
}

.welcome,
.food,
.newsletter {
    width: var(--width-section);
}

/* WELCOME AND NEWSLETTER*/
.welcome,
.newsletter {
    display: flex;
    align-items: center;
    gap: var(--gap-section);
}

.welcome img,
.newsletter img {
    width: calc((var(--width-section) - var(--gap-section)) * 0.4);
}

.welcome .intro,
.newsletter > div {
    width: calc((var(--width-section) - var(--gap-section)) * 0.6);
    flex: 1;
}

/* INTRO AND NEWSLETTER */
.intro > div:first-of-type,
.newsletter > div > div:first-of-type {
    font-family: "Permanent Marker";
    font-size: 36px;
}

/* INTRO */
.intro {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.intro > div > div:nth-of-type(2) > span {
    font-style: italic;
}

.intro > div > div:last-of-type {
    margin-top: 10px;
    font-style: italic;
    font-size: 24px;
}

/* FOOD */
.food {
    background-color: var(--color-food);
    padding: 20px calc((100vw - var(--width-section)) * 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.food > div:first-of-type {
    display: flex;
    gap: 20px;
}

.food > div:last-of-type {
    font-size: 24px;
}

.food img {
    height: 15vw;
}

/* NEWSLETTER */
.newsletter > div > div:nth-of-type(2),
.newsletter form {
    margin-top: 20px;
}

.newsletter form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#email {
    height: 2rem;
    padding-top: 0.2rem;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    text-indent: 1rem;
}

#email:focus {
    outline: none;
    box-shadow: 0 0 10px var(--color-header);
}

#sign-up-wrapper {
    height: 3rem;
}

#sign-up {
    background-color: var(--color-header);
    color: var(--color-main);
    font-family: "Permanent Marker";
    height: 3rem;
    width: 6rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
}

#sign-up:disabled {
    background-color: grey;
    color: silver;
}

#sign-up:enabled:hover {
    color: white;
}

#sign-up:enabled:active {
    height: 2.9rem;
    width: 5.9rem;
}

/* EMAIL VALIDATION */
#email + span {
    position: relative;
}

#email + span::before {
    font-size: 1.2rem;

    position: absolute;
    top: calc(-20px - 1.2rem);
    left: calc(100% - 2rem);
}

.invalid + span::before {
    content: "✖";
    color: red;
}

.valid + span::before {
    content: "✓";
    color: green;
}

/* SIGN UP SUCCESS */
#sign-up + span::before {
    margin-left: 10px;
    font-size: 1.2rem;
}

.success + span::before {
    content: "✓ Success!";
    color: green;
}
