/* FONT */
@font-face {
    /* From https://fonts.google.com/specimen/Permanent+Marker */
    font-family: "Permanent Marker";
    src: url(../fonts/PermanentMarker-Regular.ttf) format("TrueType");
}

@font-face {
    /* From https://fonts.google.com/specimen/Raleway */
    font-family: "Raleway";
    src: url(../fonts/Raleway-Regular.ttf) format("TrueType");
}

/* GENERAL */
:root {
    --color-main: #fbbf24;
    --color-header: #18181b;
    --color-food: rgb(255, 255, 255, 0.8);
    --height-header: 80px;
}

body,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--color-main);
}

img {
    border-radius: 10px;
    display: flex;
}

/* CONTENT */
#content {
    background-color: var(--color-main);
    font-family: "Raleway";
    font-size: 18px;

    box-sizing: border-box;
    min-height: calc(100vh - var(--height-header) * 2);
    padding: 50px 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
