/* FONT */
@font-face {
    /* From https://fonts.google.com/specimen/Permanent+Marker */
    font-family: "Permanent Marker";
    src: url(./fonts/PermanentMarker-Regular.ttf) format("TrueType");
}

@font-face {
    /* From https://fonts.google.com/specimen/Raleway */
    font-family: "Raleway";
    src: url(./fonts/Raleway-VariableFont_wght.ttf) format("TrueType");
}

/* GENERAL */
:root {
    --color-main: #fbbf24;
    --color-header: #18181b;
    --height-header: 80px;
}

body,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--color-main);
}

img {
    border-radius: 10px;
    display: flex;
}

/* HEADER AND FOOTER */
.header,
.footer {
    background-color: var(--color-header);
    color: var(--color-main);
    font-family: "Permanent Marker";

    height: var(--height-header);
    padding: 0 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HEADER */
.header {
    position: sticky;
    top: 0;
}

#brand {
    font-size: calc(var(--height-header) * 0.4);
}

.header ul {
    display: flex;
}

.header li {
    margin: 0 20px;
    font-size: calc(var(--height-header) * 0.2);
}

.header li:hover {
    cursor: pointer;
    color: white;
}

/* FOOTER */
.footer {
    font-size: calc(var(--height-header) * 0.2);
    justify-content: center;
    gap: 200px;
}

.footer a:hover {
    color: white;
}

#github img {
    height: calc(var(--height-header) * 0.3);
    padding: 0 5px;
}

#github a {
    display: flex;
    justify-content: center;
}

/* CONTENT */
#content {
    background-color: var(--color-main);
    font-family: "Raleway";
    padding: 50px 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

/* WELCOME, INTRO AND NEWSLETTER*/
.welcome,
.intro,
.newsletter {
    display: flex;
    gap: 50px;
}

/* WELCOME */
.welcome img {
    height: 40vw;
}

/* INTRO AND NEWSLETTER */
.intro,
.newsletter {
    font-size: 24px;
}

.intro > div:first-of-type,
.newsletter > div > div:first-of-type {
    font-family: "Permanent Marker";
    font-size: 36px;
}

/* INTRO */
.intro {
    flex-direction: column;
    justify-content: center;
}

.intro > div > div:nth-of-type(2) > span {
    font-style: italic;
}

.intro > div > div:last-of-type {
    margin-top: 10px;
    font-style: italic;
}

/* FOOD */
.food {
    background-color: rgb(255, 255, 255, 0.8);
    width: 100%;
    padding: 20px 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.food > div:first-of-type {
    display: flex;
    gap: 20px;
}

.food > div:nth-of-type(2) {
    font-size: 18px;
}

.food > div:last-of-type {
    font-size: 24px;
}

.food img {
    height: 15vw;
}

/* NEWSLETTER */
.newsletter {
    align-items: center;
}

.newsletter img {
    height: 20vw;
}

.newsletter > div > div:nth-of-type(2),
.newsletter form {
    margin-top: 20px;
}

.newsletter form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#email {
    height: 2rem;
    width: 100%;
    padding-top: 0.1rem;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    text-indent: 1rem;
}

#email:focus {
    outline: none;
    box-shadow: 0 0 10px var(--color-header);
}

#sign-up-wrapper {
    height: 3rem;
}

#sign-up {
    background-color: var(--color-header);
    color: var(--color-main);
    font-family: "Permanent Marker";
    height: 3rem;
    width: 6rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
}

#sign-up:disabled {
    background-color: grey;
    color: silver;
}

#sign-up:enabled:hover {
    color: white;
}

#sign-up:enabled:active {
    height: 2.9rem;
    width: 5.9rem;
}

/* EMAIL VALIDATION */
#email + span {
    position: relative;
}

#email + span::before {
    width: 100%;
    font-size: 1.2rem;

    position: absolute;
    top: calc(-20px - 1.2rem);
    left: calc(100% + 1rem);
}

.invalid + span::before {
    content: "✖ Invalid email address";
    color: red;
}

.valid + span::before {
    content: "✓";
    color: green;
}

/* SIGN UP SUCCESS */
#sign-up + span::before {
    font-size: 1.2rem;
}

.success + span::before {
    content: "✓ Success!";
    color: green;
}
